body {
	font-family: Arial;
	background-color: #eeffff;
}

table.lfposts {
	border: 2px solid black;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	float: left;
	min-width: 50%;
	max-width: 90%;
}

tr {
	border-bottom: 1px solid gray;
}


tr:nth-child(odd) {
	background-color: #f7f7f7; 
}
tr:nth-child(even) {
	background-color: #dedede; 
}

tr:hover{
	background-color: #eeddee;
}

th {
    border: 1px solid purple;
    background-color: #00bbdd;
    cursor: pointer;
    padding-top: 0.25em;
	padding-bottom: 0.25em;
}

a.lfpost_link {
	text-decoration: none;
	font-weight: bold;
	color: #22cc22;
}
a.lfpost_link:hover {
	text-decoration: none;
	font-weight: bold;
	color: #eeaa22;
}


td {
    /*border: 1px solid purple;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	text-align: center;
}

td.title {
	text-align: left;
}

input[type="text"], input[type="password"] {
	 border-radius: 1em;
	 padding: 0.5em;
	 margin:0.5em; 
	 width: 15em; 
	 height: 2em;
	 background-color: #f3ffff;
	 outline: none;
}

textarea {
	border-radius: 1em;
	padding: 0.5em;
	margin:0.5em; 
	width: 32.5em; 
	height: 6em;
	background-color: #f3ffff;
	outline: none;
}

input[type="submit"] {
	padding: 0.5em;
	margin: 0.5em; 
	width: 10em; 
	height: 2em;
	border: none;
	background-color: #bb55dd;
	color: #77ee77;
	font-size: 16px;
}

input[type="submit"]:hover {
	background-color: #dd66ee;
	color: green;
	cursor: pointer;
}