div {
	border: 1px solid purple;
	/*margin: 1%;*/
	padding: 2em;
}

.post_side {
	float: left;
	width: 80%;
}

.options_side {
	float: right;
	width: 20%;
}

.responses {
	width: 100%;
	/*float: center;*/
	border: 2px solid green;
}

button {
	margin: 0.5em;
}