body {
	font-family: Arial;
	background-color: #fcfce0;
}

/*p {
	margin: 0.2em;
}*/

input[type="text"], input[type="password"] {
	 border-radius: 1em;
	 padding: 0.5em;
	 margin:0.5em; 
	 width: 15em; 
	 height: 2em;
	 background-color: #fffff0;
	 outline: none;
}

label {
	clear: both; 
	float: left; 
	margin:0.5em; 
	width: 10em; 
	height: 1em;
}

p {
	margin:0em; 
	width: auto; 
	height: 2em;
}

input[type="submit"] {
	padding: 0.5em;
	margin:0.5em; 
	width: 15em; 
	height: 2em;
	border: none;
	background-color: #222255;
	color: white;
}
input[type="submit"]:hover {
	filter: invert(80%);
	cursor: pointer;
}
