body {
	background-color: #f0f0f0;
	font-family: Arial;
	/*background: url("./images/itu2.png")
	

 	Center and scale the image nicely 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

