body {
    background-color: #222165;
}

div.container {
    background-color: #EBEBEC;
    padding: 4em;
    margin: 7em;
}

nav.main_nav {
    background-color: #EBEBEC;
    font-size: 120%;
    margin-top: 2.1em;
    width: 35em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1, h2 {
    font-family: Georgia, Cabin, serif;
}

h1 {
    margin-top: 0.1em;
    margin-bottom: 1.1em;
}

form {
    margin-top: 2em;
    margin-bottom: 2em;
}

input[type=text] {
    width: 20em;
    height: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

input[type=submit] {
    width: 7em;
    height: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #681769;
    color: #F7E75E;
}

table.store_posts {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60em;
    margin-top: 2.1em;
}

th {
    background-color: #787884;
    color: #e5e5e5;
    border: solid black;
    width: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

td {
    border: thin solid grey;
    width: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

tr {
    background-color: #e5e5e5;
    border-bottom: 1px solid gray;
}

tr.items:hover {
    background-color: #681769;
    color: #F7E75E;
    cursor: pointer;
}

/*
colors:
    #F7E75E, light yellow
    #B1F6F9, ice blue
    #775082, interesting dark purple
    #681769, dark purple
    #FE91D1, light pink
    #2B2A92, dark blue
    #222165, darker blue
    #EBEBEC, lighter gray
    #DFDFE2, light gray
    #E5E5E5, light gray
    #787884, dark gray
*/
