table.lfposts {
	border: 2px solid black;
	width: 100%;
}

tr {
	border-bottom: 1px solid gray;
}


tr:nth-child(odd) {
	background-color: #f7f7f7; 
}
tr:nth-child(even) {
	background-color: #dedede; 
}
th{
	background-color: #ddbbdd;
}

tr:hover{
	background-color: #eeddee;
}

th {
    border: 1px solid purple;
}

td {
    /*border: 1px solid purple;*/
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

td.title {
	text-align: left;
}