body {
    background-color: #222165;
}

div.container {
    background-color: #EBEBEC;
    padding: 4em;
    margin: 7em;
    margin-top: 4em;
}

nav.main_nav {
    background-color: #EBEBEC;
    font-size: 120%;
    margin-top: 2.1em;
    width: 40em;
    height: 5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1, h2 {
    font-family: Georgia, Cabin, serif;
}

h1 {
    margin-top: 0.1em;
    margin-bottom: 1.1em;
}

h1.username {
    color: #F7E75E;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 120%;
}

div.item_info {
    /*float: right;*/
    position: inherit;
    right: 70%;
}

input.item_update[type=text] {
    width: 20em;
    height: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

table.item_info {
    background-color: #e5e5e5;
}

table.item_info th, table.item_info td.header_td{
    border-bottom-style: groove;
    height: 3em;
}

table.item_info td {
    width: 30em;
    max-width: 30em;
    padding: 1.3em;
    align: center;
    word-wrap: break-word;
    overflow: auto;
}

form.question_form, form.item_update_form, form.item_delete_form {
    margin-top: 2em;
    margin-bottom: 2em;
}

input[type=submit], button {
    width: auto;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.7em;
    margin-bottom: 0.3em;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: #681769;
    color: #F7E75E;
}

form.answer_form {
    margin: 1em;
}

table.q_table {
    /*background-color: #C8C8C8;*/
    border-style: groove;
    border-collapse: collapse;
    /*width: 60em;*/
    table-layout: fixed;
}

table.q_table td {
    width: 50%;
    max-width: 30em;
    border-style: groove;
    padding: 0.8em;
    word-wrap: normal;
    overflow: auto;
}
/*
td.message_body {
    white-space: pre-wrap;
}*/

table.q_table td.last_column {
    width: 20%;
    max-width: 20em;
}

table.q_table tr.q_body {
    height: 5em;
    min-height: 5em;
}

table.ans_table {
    /*background-color: #C8C8C8;*/
    /*background-color: #F65656;*/
    border-style: groove;
    border-collapse: collapse;
    /*width: 60em;*/
    table-layout: fixed;
}

table.ans_table td {
    width: 10em;
    max-width: 30em;
    border-style: groove;
    padding: 0.8em;
    word-wrap: normal;
    overflow: auto;
}

table.ans_table tr.ans_body {
    height: 5em;
    min-height: 5em;
}

div.questions {
    margin-top: 5em;
}

div.question_i {
    border-style: groove;
    width: 90%;
    padding: 1em;
}

div.q_body {
    /*background-color: #C8C8C8;*/
    padding: 0.7em;
}

div.ans_i_cluster {
    margin: 2em;
    margin-bottom: 0.4em;
    padding: 0.6em;
}

div.individual_ans {
    padding-bottom: 0.8em;
}

div.ans_body {

}
