<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>notify - {% block title %} {% endblock %}</title>
		<link rel="stylesheet" href={% block stylesheet %} {% endblock %}/>

	</head>
	<body>
		<nav>
			{% if session.is_loggedin %} <a href="/logout"> LogOut </a> {% else %} <a href="/login"> Login </a> {% endif %} |
			<a href="{{ url_for('register_page') }}"> Register </a> |
			<a href="/"> Homepage </a> |
			<a href="/lostfound"> Lost & Found Items </a> |
			<a href="{{ url_for('store_page') }}"> Item Sale </a> |
			<a href="/courses"> Courses </a>
		</nav>
		{% block body_content %} {% endblock %}
	</body>

</html>
