{% if post %} <!-- if post is NOT null -->

{% extends "layout.html" %}
{% block title %} {{post.title}} {% if post.LF %} Found {% else %} Lost {% endif %} {% endblock %}
{% block stylesheet %} "/static/style_lfpost.css" {% endblock %}

{% block body_content %}

<div class="post_and_options">
	<div class="post_side"> 
		<table class="post_card">
			<tr> 
				<th> {{post.title}} </th> 
				<th> {% if extra %} Posted by: {{extra.username}} {% else %} No username??? {% endif %} </th>
			</tr>
			<tr> 
				<td colspan="2" align="center"> {{post.description}} </td> 
			</tr>
		</table>
	</div> 

	<div class="options_side" >
		<form action="/lostfound" method="post">
			<input type="hidden" name="form_key" value="delete_post">
			<input type="hidden" name="postid" value="{{extra.postid}}">
			<input type="hidden" name="userid" value="{{post.userid}}">
			<button type="submit"> Delete Post </button> 
		</form>
			<button type="submit"> Update Post </button> 
			<br>	
			<button type="submit" onclick="reportPost()"> Report Post </button> 
			<br>
	</div>
</div>

<div class="responses">
	{% if responses %}
	<table>
		{% for response in responses %}
			<tr>
				<td> {{response.userid}} </td>
				<td> {{response.message}} </td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
	There is no response for this post yet.
	{% endif %}
</div>

<script >
	function reportPost(){
		alert("Wait, that's illegal");
	}
</script>

{% endblock %}

{% else %} <!-- if post is null -->
NOTHING TO SEE HERE, PAL

{% endif %}