{% if post %} <!-- if post is NOT null -->

{% extends "layout.html" %}
{% block title %} {{post.title}} {% if post.LF %} Found {% else %} Lost {% endif %} {% endblock %}
{% block stylesheet %} "/static/style_lfpost.css" {% endblock %}

{% block body_content %}

<div class="post_side"> 
	<table style="border: 2px dashed green;">
		<tr> {{post.title}} </tr>
		<tr> {% if extra %} Posted by: {{extra.username}} {% else %} No username??? {% endif %} </tr>
		<tr> {{post.description}} </tr>
	</table>
</div> 

<div class="options_side" >
	<form action="/lostfound" method="post">
		<input type="hidden" name="form_key" value="delete_post">
		<button type="submit"> Delete Post </button> 
	</form>
	
		<button type="submit"> Update Post </button> 
		<br>	
		<button type="submit"> Report Post </button> 
		<br>
				
</div>

<div class="responses">
	{% if responses %}
	<table>
		{% for response in responses %}
			<tr>
				<td> {{response.userid}} </td>
				<td> {{response.message}} </td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
	There is no response for this post yet.
	{% endif %}
</div>

{% endblock %}

{% else %} <!-- if post is null -->
NOTHING TO SEE HERE, PAL

{% endif %}