{% extends "layout.html" %}
{% block title %} Lost & Found {% endblock %}

{% block body_content %}
	<h2> Share a new post </h2>
	<form action="/lostfound" method="post">
		<input type="text" name="title" placeholder="Enter a title">
		<input type="text" name="location" placeholder="(Optional) Enter location">
		<br>
		<textarea name="description" rows="5" cols="40"></textarea>
		<br>
		<input type="radio" name="LF" value=TRUE> Found
		<input type="radio" name="LF" value=FALSE> Lost
		<br>
		<input type="submit" name="Send">
	</form>

	<h2> Latest Posts </h2>
	{% if posts %}
	<table>
		{% for post in posts %}
		<tr>
			<td>
				{{ post.title }}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}