{% extends "layout.html" %}
{% block title %} Lost & Found {% endblock %}
{% block stylesheet %} "" {% endblock %}

{% block body_content %}

<h3 class="username"> Logged in as: {{ session.username }} </h3>
<p>id: {{userobj.studentno}}</p>
<p>name: {{userobj.name}}</p>
<p>department: {{userobj.department}}</p>
<p>grade: {{userobj.grade}}</p>

{% if session.userid == userobj.studentno %} <!-- if viewing current user's profile, add option to edit info -->
Update your info
()
<form>
	<input type="text" name="user_newname" placeholder="change name">
	<input type="text" name="user_newdepartment" placeholder="change name">
	<input type="text" name="user_newgrade" placeholder="change name">
</form>

{% else %} <!-- view other users' profile -->


{% endif %}

{% endblock %}
