{% extends "layout.html" %}

{% block title %} ITU Student Store {% endblock %}

{% block stylesheet %} "/static/style_storePost.css" {% endblock %}

{% block body_content %}
    <div class="container">
        <h1> ITU Store - Item {{ sellItem.sellid }} </h1>

        {% if session.userid == sellItem.seller_no %}
        <form class="update_form" action="/store/{{sellItem.sellid}}" method="post">
            <input type="hidden" name="form_key" value="change">

            <input class="update" type="submit" name="update" value="Update Item Info">
            <input class="update" type="submit" name="delete" value="Delete Item from Store">
        </form>
        {% endif %}

        <h2> {{ sellItem.item_name }} </h2>

        <h2> Q&A </h2>

        {% if questions %}
        <ul>
            {% for q_i, all_ans in questions %}
            <li>
                {{ q_i.item_name }}
                <ul>
                    {% for ans_j in all_ans %}
                    <li>

                    {{ ans_j.item_name }}

                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h2> No Questions </h2>
        {% endif %}

    </div>
{% endblock %}
