{% extends "layout.html" %}

{% block title %} ITU Student Store {% endblock %}

{% block body_content %}

	<h1> ITU Store </h1>

	{% if selling_items %}
	<table>
		{% for sellid, sellItem in selling_items %}
		<tr>
        	<td>
          		{{ sellItem.seller }}
          		
			</td>
			<td>
				{{ sellItem.item_name }}
			</td>
			<td>
				{{ sellItem.shortD }}
			</td>
			<td>
				{{ sellItem.n_questions }}
			</td>
		</tr>
		{% endfor %}
    </table>
	{% else %}
	<h2> not working bro </h2>
	{% endif %}

{% endblock %}
