{% extends "layout.html" %}

{% block title %} ITU Student Store {% endblock %}

{% block stylesheet %} "/static/style_store.css" {% endblock %}

{% block body_content %}
	<div class="container">
		<h1> ITU Store </h1>

		<form class="sell_form" action="/store" method="post">
			<input type="hidden" name="form_key" value="sell">

			<table>
				<tr>
					<td> <label> Item Name: </label> </td>
					<td align="right">
						<input class="sell" type="text" name="item_name" placeholder="Enter the name of the item" required>
					</td>
				</tr>

				<tr>
					<td> <label> Price: </label> </td>
					<td align="right">
						<input class="sell" type="text" name="price" placeholder="Enter the price" required>
					</td>
				</tr>

				<tr>
					<td> <label> Short Description: </label> </td>
					<td align="right">
						<input class="sell" type="text" name="shortD" placeholder="(Optional) Enter a short description">
					</td>
				</tr>

				<tr>
					<td> <label> Image: </label> </td>
					<td align="right">
						<input class="sell" type="text" name="image" placeholder="(Optional) Upload an image">
					</td>
				</tr>

				<tr>
					<td colspan="2" align="right">
						<input class="sell" type="submit" name="send" value="Sell Item">
					</td>
				</tr>

			</table>
		</form>

		{% if not session.is_loggedin %}
		<p> Cannot sell items without logging in! </p>
		<form class="login_form" action="/store" method="post">
			<input type="hidden" name="form_key" value="login">

			<button class="login" type="submit" name="go_login"> Login </button>
		</form>
		{% endif %}

		{% if filter_items %}
		{% for item_name, seller_name, price_lw, price_hi in filter_items %}
		<form class="filter_form" action="/store" method="post">
			<input type="hidden" name="form_key" value="filter">

			<table>
				<tr>
					<td> <label> Item Name: </label> </td>
					<td align="right">
						<input class="filter" type="text" name="item_name" placeholder="Item Name" value="{{ item_name }}">
					</td>
				</tr>

				<tr>
					<td> <label> Seller Name: </label> </td>
					<td align="right">
						<input class="filter" type="text" name="seller_name" placeholder="Seller Name" value="{{ seller_name }}">
					</td>
				</tr>

				<tr>
					<td> <label> Price Range: </label> </td>
					<td align="right">
						<input class="filter" type="text" name="price_lw" placeholder="min price" value="{{ price_lw }}">
					</td>
					<td align="right">
						<input class="filter" type="text" name="price_hi" placeholder="max price" value="{{ price_hi }}">
					</td>
				</tr>

				<tr>
					<td colspan="2" align="right">
						<input id="filter_filter" class="filter" type="submit" name="filter" value="Filter">
						<input class="filter" type="submit" name="drop_filter" value="Drop All Filter">
					</td>
				</tr>

			</table>
		</form>
		{% endfor %}
		{% endif %}

		{% if selling_items %}
		<table class="store_posts">
			<tr class="post_header">
				<th> Image </th>
				<th> Item Name </th>
				<th> Price </th>
				<th> Short Description </th>
				<th> Seller </th>
				<th> Total # of Questions </th>
				<th> Total # of Answers </th>
				<th> Last Update </th>
			</tr>

			{% for sellid, sellItem in selling_items %}
			<tr class="items" onclick="location.href='/store/{{sellid}}'">
        		<td> {{ sellItem.image }} </td>
        		<td> {{ sellItem.item_name }} </td>
        		<td> {{ sellItem.price }} </td>
        		<td> {{ sellItem.shortD }} </td>
        		<td> {{ sellItem.seller_name }} </td>
        		<td> {{ sellItem.n_questions }} </td>
        		<td> {{ sellItem.n_answers }} </td>
        		<td> {{ sellItem.share_time }} </td>
			</tr>
			{% endfor %}
    	</table>
		{% else %}
		<h2> No Item Found in Store </h2>
		{% endif %}

	</div>
{% endblock %}
