{% extends "layout.html" %}

{% block title %} ITU Student Store {% endblock %}

{% block stylesheet %} "/static/style_storePost.css" {% endblock %}

{% block body_content %}
    <div class="container">
        <h1> ITU Store - Item {{ sellItem.sellid }} </h1>
        <h2> Sold By <a href="/profile/{{sellItem.sellid}}">{{ sellItem.seller_name }}</a> </h2>

        {% if session.userid == sellItem.seller_no %}
        <form class="item_delete_form" action="/store/{{sellItem.sellid}}" method="post">
            <input type="hidden" name="form_key" value="item_delete">

            <input class="item_delete" type="submit" name="delete" value="Delete Item from Store">
        </form>
        {% endif %}

        <div class="item_info">

            <div id="item_info_static">
                {% if session.is_loggedin %}
                {% if session.userid == sellItem.seller_no %}
                <button class="item_change" onclick="Update_Item();"> Update Item Information </button>
                {% endif %}
                {% endif %}

                <table class="item_info">
                    <tr>
                        <th> Item Name: {{ sellItem.item_name }} </th>
                        <th> Price: {{ sellItem.price }} TL</th>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p><span style="white-space: pre-wrap;">{{ sellItem.item_info }}</span></p>
                        </td>
                    </tr>
                </table>
            </div>

            <div hidden id="item_info_change">
                <button class="item_change" onclick="Item_Renew_To_Static();"> Changed My Mind </button>

                <table class="item_info">
                    <form class="item_update_form" action="/store/{{sellItem.sellid}}" method="post">
                        <input type="hidden" name="form_key" value="item_update">
                        <tr>
                            <td class="header_td">
                                <!--<input class="item_update" type="text" name="item_name" value="{{ sellItem.item_name }}" placeholder="Enter the name of the item" required>
                                <br>
                                <input class="item_update" type="text" name="price" value="{{ sellItem.price }}" placeholder="Enter the price" required>
                                <br>
                                <input class="item_update" type="text" name="shortD" value="{{ sellItem.shortD }}" placeholder="(Optional) Enter a short description">
                                <br>-->

                                <table>
                                    <tr>
                                        <td> <label> Item Name: </label> </td>
                                        <td align="right">
                                            <input class="item_update" type="text" name="item_name" value="{{ sellItem.item_name }}" placeholder="Enter the name of the item" required>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td> <label> Price: </label> </td>
                                        <td align="right">
                                            <input class="item_update" type="text" name="price" value="{{ sellItem.price }}" placeholder="Enter the price" required>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td> <label> Short Description: </label> </td>
                                        <td align="right">
                                            <input class="item_update" type="text" name="shortD" value="{{ sellItem.shortD }}" placeholder="(Optional) Enter a short description">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea class="item_update" name="item_info" rows="5" cols="50" placeholder="Write Information Here" required>{{ sellItem.item_info }}</textarea>
                                <br>

                                <input class="item_update" type="submit" name="item_update" value="Submit Update">
                            </td>
                        </tr>
                    </form>
                </table>
            </div>

        </div>

        <h2> Q&A </h2>

        {% if session.is_loggedin %}
        <form class="question_form" action="/store/{{sellItem.sellid}}" method="post">
            <input type="hidden" name="form_key" value="ask_question">

            <textarea class="ask_question" name="q_body" rows="5" cols="50" placeholder="Ask a question." required></textarea>
            <br>
            <input type="radio" name="color" value="#F65656" required> Light Red
            <input type="radio" name="color" value="#C8C8C8" required checked> Gray
            <br>
            <input type="checkbox" name="anonymous" value=TRUE> Post anonymously
            <br>

            <input class="ask_question" type="submit" name="ask_question" value="Ask Question">
        </form>
        {% else %}
        <p> Cannot ask questions or write answers without logging in! </p>
        <form class="login_form" action="/store/{{sellItem.sellid}}" method="post">
            <input type="hidden" name="form_key" value="login">

            <button class="login" type="submit" name="go_login"> Login </button>
        </form>
        {% endif %}

        <div class="questions">
            {% if questions %}
            <ul>
                {% for q_i, all_ans in questions %}
                <li>
                    <div class="question_i">
                        <div class="q_body">

                            <table class="q_table" id="q_table_{{q_i.questionid}}">
                                <tr class="q_body">
                                    <td class="message_body">
                                        <div id="q_body_static_{{ q_i.questionid }}">
                                            <p><span style="white-space: pre-wrap;">{{ q_i.q_body }}</span></p>
                                        </div>

                                        <div hidden id="q_body_change_{{ q_i.questionid }}">

                                            <form class="q_update_form" action="/store/{{sellItem.sellid}}" method="post">
                                                <input type="hidden" name="form_key" value="q_update">
                                                <input type="hidden" name="questionid" value="{{ q_i.questionid }}">

                                                <textarea class="q_update" name="q_body" rows="5" cols="50" placeholder="Write Question Here" required>{{ q_i.q_body }}</textarea>
                                                <br>

                                                <input class="q_update" type="submit" name="update" value="Submit Update">
                                            </form>
                                        </div>
                                    </td>
                                    <td class="last_column" align="center"> {{ q_i.last_update }} </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        {% if q_i.anonymous %}
                                        Anonymous
                                        {% else %}
                                        <a href="/profile/{{q_i.user_no}}">{{ q_i.user_name }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="last_column" align="center">

                                        {% if session.is_loggedin %}
                                        {% if session.userid == q_i.user_no %}
                                        <div id="q_body_static_button_{{ q_i.questionid }}">
                                            <button onclick="Update_Question({{ q_i.questionid }});"> Update Question </button>
                                        </div>

                                        <div hidden id="q_body_change_button_{{ q_i.questionid }}">
                                            <button onclick="Question_Renew_To_Static({{ q_i.questionid }});"> Changed My Mind </button>
                                        </div>

                                        <form class="q_delete_form" action="/store/{{sellItem.sellid}}" method="post">
                                            <input type="hidden" name="form_key" value="q_delete">
                                            <input type="hidden" name="questionid" value="{{ q_i.questionid }}">

                                            <input class="q_delete" type="submit" name="delete" value="Delete Question">
                                        </form>
                                        {% endif %}
                                        {% endif %}

                                    </td>
                                </tr>
                            </table>

                        </div>

                        {% if session.is_loggedin %}
                        <form class="answer_form" action="/store/{{sellItem.sellid}}" method="post">
                            <input type="hidden" name="form_key" value="answer">
                            <input type="hidden" name="questionid" value="{{ q_i.questionid }}">

                            <textarea class="answer" name="ans_body" rows="5" cols="50" placeholder="Your answer" required></textarea>
                            <br>
                            <input type="radio" name="color" value="#F65656" required> Light Red
                            <input type="radio" name="color" value="#C8C8C8" required checked> Gray
                            <br>
                            <input type="checkbox" name="anonymous" value=TRUE> Post anonymously
                            <br>

                            <input class="answer" type="submit" name="post_answer" value="Post Answer">
                        </form>
                        {% endif %}

                        <ul>
                            <div class="ans_i_cluster">

                                {% for ans_j in all_ans %}
                                <li>
                                    <div class="individual_ans">

                                        <div class="ans_body">

                                            <table class="ans_table" id="ans_table_{{q_i.questionid}}_{{ans_j.answerid}}">
                                                <tr class="ans_body">
                                                    <td>

                                                        <div id="ans_body_static_{{q_i.questionid}}_{{ans_j.answerid}}">
                                                            <p><span style="white-space: pre-wrap;">{{ ans_j.ans_body }}</span></p>
                                                        </div>

                                                        <div hidden id="ans_body_change_{{q_i.questionid}}_{{ans_j.answerid}}">

                                                            <form class="ans_update_form" action="/store/{{sellItem.sellid}}" method="post">
                                                                <input type="hidden" name="form_key" value="ans_update">
                                                                <input type="hidden" name="answerid" value="{{ ans_j.answerid }}">
                                                                <input type="hidden" name="questionid" value="{{ q_i.questionid }}">

                                                                <textarea class="ans_update" name="ans_body" rows="5" cols="50" placeholder="Write Answer Here" required>{{ ans_j.ans_body }}</textarea>
                                                                <br>

                                                                <input class="ans_update" type="submit" name="update" value="Submit Update">
                                                            </form>
                                                        </div>

                                                    </td>
                                                    <td align="center"> {{ ans_j.last_update }} </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        {% if ans_j.anonymous %}
                                                        Anonymous
                                                        {% else %}
                                                        <a href="/profile/{{ans_j.user_no}}">{{ ans_j.user_name }}</a>
                                                        {% endif %}
                                                    </td>
                                                    <td align="center">
                                                        {% if session.is_loggedin %}
                                                        {% if session.userid == ans_j.user_no %}
                                                        <div id="ans_body_static_button_{{q_i.questionid}}_{{ans_j.answerid}}">
                                                            <button onclick="Update_Answer({{q_i.questionid}}, {{ans_j.answerid}});"> Update Answer </button>
                                                        </div>

                                                        <div hidden id="ans_body_change_button_{{q_i.questionid}}_{{ans_j.answerid}}">
                                                            <button onclick="Answer_Renew_To_Static({{q_i.questionid}}, {{ans_j.answerid}});"> Changed My Mind </button>
                                                        </div>

                                                        <form class="ans_delete_form" action="/store/{{sellItem.sellid}}" method="post">
                                                            <input type="hidden" name="form_key" value="ans_delete">
                                                            <input type="hidden" name="answerid" value="{{ ans_j.answerid }}">
                                                            <input type="hidden" name="questionid" value="{{ q_i.questionid }}">

                                                            <input class="ans_delete" type="submit" name="delete" value="Delete Answer">
                                                        </form>
                                                        {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>

                                    </div>
                                </li>

                                <style type="text/css">
                                    table#ans_table_{{q_i.questionid}}_{{ans_j.answerid}} {
                                        background-color: {{ans_j.color}};
                                    }
                                </style>
                                {% endfor %}

                            </div>
                        </ul>
                    </div>
                </li>

                <style type="text/css">
                    table#q_table_{{q_i.questionid}} {
                        background-color: {{q_i.color}};
                    }
                </style>
                {% endfor %}
            </ul>

            {% else %}
            <h2> No Questions </h2>
            {% endif %}

            <script type="text/javascript">

                function Update_Item(){
                    document.getElementById("item_info_static").style.display = "none";
                    document.getElementById("item_info_change").style.display = "block";
                }

                function Item_Renew_To_Static(){
                    document.getElementById("item_info_static").style.display = "block";
                    document.getElementById("item_info_change").style.display = "none";
                }

                function Update_Question(questionid){
                    document.getElementById("q_body_static_" + questionid).style.display = "none";
                    document.getElementById("q_body_change_".concat(questionid)).style.display = "block";
                    document.getElementById("q_body_static_button_".concat(questionid)).style.display = "none";
                    document.getElementById("q_body_change_button_".concat(questionid)).style.display = "block";
                }

                function Question_Renew_To_Static(questionid){
                    document.getElementById("q_body_static_".concat(questionid)).style.display = "block";
                    document.getElementById("q_body_change_".concat(questionid)).style.display = "none";
                    document.getElementById("q_body_static_button_".concat(questionid)).style.display = "block";
                    document.getElementById("q_body_change_button_".concat(questionid)).style.display = "none";
                }

                function Update_Answer(questionid, answerid){
                    document.getElementById("ans_body_static_" + questionid + '_' + answerid).style.display = "none";
                    document.getElementById("ans_body_change_" + questionid + '_' + answerid).style.display = "block";
                    document.getElementById("ans_body_static_button_" + questionid + '_' + answerid).style.display = "none";
                    document.getElementById("ans_body_change_button_" + questionid + '_' + answerid).style.display = "block";
                }

                function Answer_Renew_To_Static(questionid, answerid){
                    document.getElementById("ans_body_static_" + questionid + '_' + answerid).style.display = "block";
                    document.getElementById("ans_body_change_" + questionid + '_' + answerid).style.display = "none";
                    document.getElementById("ans_body_static_button_" + questionid + '_' + answerid).style.display = "block";
                    document.getElementById("ans_body_change_button_" + questionid + '_' + answerid).style.display = "none";
                }

            </script>

        </div>

    </div>
{% endblock %}
