<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>notify - store</title>
		<link rel="stylesheet" href="" />

	</head>
	<body>
		
		<h1> Store </h1>

		<table style="width:100%">
			<tr>
				<th>Image</th>
				<th>Item Name</th>
				<th>Short Description</th>
				<th>Offer</th>
				<th>Seller Name</th>
				<th>Number of Messages(Q&A)</th>
			</tr>
			<tr>
				<td>No Image!</td>
				<td>Fridge</td>
				<td>1 month old / 90L</td>
				<td>400 tl</td>
				<td>name1</td>
				<td>5Q - 8A</td>
			</tr>
			<tr>
				<td>No Image!</td>
				<td>clock</td>
				<td>do not buy</td>
				<td>2141213 tl</td>
				<td>name2</td>
				<td>1Q - 31431513A</td>
			</tr>
		</table>

	</body>

</html
